<div class="container">
  <%= form_for @question, :html => {class: "form-horizontal"}, url: root_path do |f| %>
    <div class="form-group">
      <label for="question" class="col-md-2 control-label">Question*</label>
      <div class="col-md-10">
        <%= f.text_field :question_content, class: "question-content", placeholder: "Enter a question" %>
      </div>
    </div>
    <div class="form-group">
      <label for="description" class="col-md-2 control-label">Description</label>
      <div class="col-md-10">
        <%= f.text_field :description, class: "question-description", placeholder: "Enter description" %>
      </div>
    </div>
    <div class="form-group">
      <label for="answer" class="col-md-2 control-label">Answers*</label>
      <div class="col-md-10">
        <%= f.text_area :answers, class: "answer-content", placeholder: "Enter answers", row: "3" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-offset-2 col-md-10">
        <%= f.submit 'Create question', class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>