<!DOCTYPE html>
<html>
<head>
  <title>QaProject</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div>
	<ul class="nav nav-tabs">
	  <li role="presentation" class="active"><%= link_to "Create a question", root_path %></li>
	  <li role="presentation"><%= link_to "Answer", answers_new_path %></li>
	</ul>
</div>
<%= yield %>

</body>
</html>
